@font-face {
    font-family: "Urbanist";
    src: url('Fonts\Urbanist');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Urbanist", sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
    padding: 20px 40px;
    background-color: #111;
}

.navbar-brand {
    font-size: 26px;
    color: #FFFFFF;
    padding-right: 0px;
}

.navbar-brand .dot {
    color: #ff3d00;
    padding-left: 0px /* Orange-red color for the dot */
}

.nav-item .nav-link {
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
}

.nav-item .nav-link:hover {
    color: #ff3d00; /* Orange-red color on hover */
}

.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.lead {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 300;
    color: #aaa; /* Lighter color for the "A Final Year" and "student at" text */
    display: inline-block; /* Keep text inline */
}

.font-weight-bold {
    font-weight: 700; /* Bold weight for "Computer Science" and "Sunway University" */
    color: #fff; /* Stronger color for emphasis */
}

.about-me-section {
    border-top: 2px solid #484E53;
    border-bottom: 2px solid #484E53;
    padding: 150px 10%;
    background-color: #111;
}

.about-me-text {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    color: #aaa; 
    display: inline-block; 
}

.text-section h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-section .lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.image-section {
    text-align: center;
}

.profile-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #111;
    color: #aaa;
}
