@font-face {
    font-family: "Urbanist";
    src: url('Fonts\Urbanist');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Urbanist", sans-serif;
    overflow-y: scroll; 
    background-color: #111;
    color: #fff;
    margin-top: 10vh;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000; 
    padding: 20px 40px;
    background-color: rgba(17, 17, 17, 0.99); /* Black with 80% opacity */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-right: 0px;
}

.navbar-brand .dot {
    color: #ff3d00;
    padding-left: 0px /* Orange-red color for the dot */
}

.nav-item .nav-link {
    color: #fff;
    font-size: 1.4rem;
    padding-right: 20px;
}

.nav-item .nav-link:hover {
    color: #ff3d00; /* Orange-red color on hover */
}

.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.lead {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 300;
    color: #aaa; /* Lighter color for the "A Final Year" and "student at" text */
    display: inline-block; /* Keep text inline */
}

.font-weight-bold {
    font-weight: 700; /* Bold weight for "Computer Science" and "Sunway University" */
    color: #fff; /* Stronger color for emphasis */
}

.about-me-section {
    border-top: 2px solid #484E53;
    border-bottom: 2px solid #484E53;
    padding: 150px 10%;
    background-color: #111;
}

.about-me-text {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    color: #aaa; 
    display: inline-block; 
}

.text-section h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-section .lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.image-section {
    text-align: center;
}

.profile-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #111;
    color: #aaa;
}

.title-section {
    padding: 25px 50px 25px 50px;
}

.section-title {
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.section-title-description {
    padding: 0px 0px 0px 0px;
    font-size: 1.5rem;
}

.projects-section {
    padding: 0px;
    background-color: #111;
}   

.project-item {
    border-top: 2px solid #484E53;
    border-bottom: 2px solid #484E53;
    padding: 50px;
    width: 100%;
    border-top: 2px solid #484E53;
}   

.project-item-header {
    padding-bottom: 20px
}

.project-item-title {
    font-size: 3rem;
    font-weight: 700
}

.project-item-text {
    margin: 0px;
    margin-top: 50px;
    font-size: 1.2rem;
    color: #fff;
}

.project-image {    
    border-radius: 10px;
    width: auto; 
    height: 450px;
}

.project-image-2 {
    border-radius: 10px;
    width: auto; 
    height: 450px;
    margin: 0px
}

.view-more-btn {
    background-color: #ddd;
    color: #111;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.view-more-btn:hover {
    background-color: #33aaff;
    color: #fff;
}

.passions-page {
    background-color: #fff;
    color: #000; 
}

.passions-page .navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.passions-page .navbar-brand, 
.passions-page .nav-link {
    color: #000; 
}

.passions-page .nav-link:hover {
    color: #ff3d00; 
}

.passion-title{
    border-top:2px solid #000;
    font-size: 3rem;
    padding: 25px 50px 25px 50px;
    color: #fff;
    font-weight: 700;
}

.passion-title-description{
    padding: 0px 50px 0px 50px;
    font-size: 1.5rem;
}


.passions-page h1,
.passions-page h2,
.passions-page p {
    color: #000; 
}

.passions-page footer{
    background-color: #fff;
    color: #000
}

.passions-image-caption{
    color: #FFFFFF;
    font-size: 1rem;
    padding-top: 10px;
    max-width: 50vh;
    text-align: center; 
    margin: 0 auto; 
}

.modal-dialog {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    height: 85vh;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-image {
    max-height: 85vh; 
    max-width: 100%; 
    height: auto; 
    width: auto; 
    margin: 0 auto; 
    display: block; 
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into rows */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

.gallery-image {
    width: 50vh;
    max-height: auto;
    border-radius: 10px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers each individual image vertically */
    margin-bottom: 20px; /* Optional: Adds spacing between rows */
}

